:root {
    --dark: #374151;
    --darker: #1f2937;
    --darkest: #111827;
    --gray: #6b7280;
    --light: #eee;
    --pink: #ec4899;
    --purple: #8b5cf6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.menu_bar{
    background: black;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
   justify-content: space-between;
    padding: 0 5%;

}
.logo{
    color: #fff;
    font-size: 30px;

}
.logo span{
    color: brown;
}
.menu_bar ul {
    list-style: none;
    display: flex;
}
.menu_bar ul li{
    padding: 10px 30px;
    position: relative;
}
.menu_bar ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s;

}
.menu_bar ul li a:hover{
    color: gold;
}
.dropdown_menu{
    display: none;

}
.menu_bar ul li:hover .dropdown_menu{
    display: block;
    position: absolute;
    left: 0;
    text-align: center;
    top:100%;
    background: black;
    border-radius: 10px;


}
.dropdown_menu ul{
    display: block;
    margin: 10px;
}

